.chevron {
  fill: rgba(255, 255, 255, 0.5);
  margin-right: 1rem;
  transition: transform 250ms, color 250ms;
}

.chevron--down {
  transform: rotate(-180deg);
}

.chevron--bright {
  fill: #fff;
  filter: drop-shadow( 0 0 5px rgba(255, 255, 255, 0.8));
}

.chevron--spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg)
  }
}
