.table {
  border-collapse: collapse;
  font-family: monospace;
  width: 100%;
}

.table td,
.table th {
  /* padding: 0 4px; */
  font-size: 14px;
}

.table tbody th,
.table tbody td {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
}

.table thead th {
  background: #071414;
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  font-weight: 300;
  padding: 2px 4px;
}

.table thead th:nth-child(1n+2),
.table tbody td:nth-child(1n+2) {
  text-align: center;
}

.table tbody th {
  font-weight: 300;
}

.table tr {
  /* border-top: 2px solid #333; */
}

.rowOdd + .rowEven,
.rowEven + .rowOdd {
  border-top: 2px solid #0f2027;
}

.rowOdd:first-child th,
.rowOdd + .rowEven th,
.rowEven + .rowOdd th {
  padding: 4px 4px 0;
}

.rowOdd + .rowOdd td,
.rowEven + .rowEven td {
  padding-bottom: 4px;
}

.table tbody td {
  padding: 6px 4px 4px;
}

/* .rowOdd {
  background: #eee;
}

.rowEven {
  background: #ddd;
} */

.redTeam {
  background: #501718;
  color: #fff;
}

/* red 2 #300f10 */

.blueTeam {
  background: #152b42;
  color: #fff;
}

.colDark {
  background: rgba(0, 0, 0, 0.15) !important;
}

.colDarker {
  background: rgba(0, 0, 0, 0.25) !important;
}

/* blue 2 darlk #0c1c29 */

tbody .currentGamer th,
tbody .currentGamer td {
  font-weight: 700;
}

.currentGamer.redTeam {
  background: #63221f;
}

.currentGamer.blueTeam {
  background: #1c3754;
}

.table .dnf th,
.table .dnf td {
  color: rgba(255, 255, 255, 0.5);
  text-shadow: unset;
}

.award {
  display: inline-flex;
  align-items: center;
  margin: 8px 12px 8px 0;
}

.awardCount {
  margin-left: 4px;
}

.title {
  text-transform: capitalize;
}
