html {
  color: #fff;
  /* #0a2320 - #081116 */
  background: #0f2027;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to left, #0f2027, #203a43, #2c5364);  /* Chrome 10-25, Safari 5.1-6 * / */
  background: linear-gradient(to right, #2c5364, #203a43 20%, #0f2027 80%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

* {
  font-family: 'Baksheesh Regular', monospace;
}

hr {
  background: rgba(255, 255, 255, 0.2);
  border: 0;
  height: 1px;
}

.input {
  background: rgba(0, 0, 0, 0.2);
  background: #071414;
  border: 0;
  color: #fff;
  margin-right: 8px;
  outline: 0;
  padding: 8px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
}

button,
input[type=submit] {
  background: #fff;
  border: 0;
  border-radius: 4px;
  padding: 4px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  -webkit-appearance: none;
}

.match {
  list-style: none;
  margin: 0;
  padding: 0;
}

.summary {
  cursor: pointer;
  margin: 0;
  padding: 1rem 0;
  user-select: none;
}

.summary dt,
.summary dd {
  display: inline;
  margin: 0;
  text-transform: uppercase;
}

.summary > div {
  display: inline-block;
}

.summary dt {
  color: rgba(255, 255, 255, 0.5);
  margin-right: 1ch;
}

.summary dd {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
  margin-right: 1rem;
  white-space: nowrap;
}

.more {
  display: flex;
  margin: 1rem;
  justify-content: center;
}

.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: no-repeat;
  background-size: cover;
  background-position: center;
  transition: opacity 200ms, transform 200ms, top 0 200ms, left 0 200ms;
  transform: scale3d(1.15, 1.15, 1);
}
